<div>
  <span class="hidden">{{setJobStatus()}}</span>
  <!--Job navbar-->
  <div>
    <form name="jobActions" class="job-list-navbar navbar-form navbar-left navbar-form-condensed">
      <div class="form-group">
        <search-box search="search.filter"></search-box>
      </div>
      <div class="form-group">
        &nbsp;|&nbsp;
        <span roles="137">
            <a href="" ng-click="exportList()">
              <i class="glyphicon glyphicon-download"></i> Export
            </a>
            &nbsp;|&nbsp;
        </span>
        <a href="" ng-click="query() ">
          <i class="glyphicon glyphicon-refresh"></i> Refresh
        </a>
        &nbsp;|&nbsp;
        <a href="" ng-click="settings.visible=!settings.visible;">
          <i class="glyphicon glyphicon-cog"></i>
        </a>
      </div>
    </form>

    <form name="jobUpdate" class="navbar-form navbar-left navbar-form-condensed pull-right hidden-xs hidden-sm">
      <div class="form-group">
        <a ng-show="lastUpdate" class="label label-default" href="" ng-click="query()">
          <i class="glyphicon glyphicon-refresh"></i> {{lastUpdate}}
        </a>
      </div>
    </form>

    <br/><br/>

    <div ng-if="!jobs.$resolved">
      <h1 class="loading-inline-spinner loading-left loading">Loading Jobs
        <small>Please wait...</small>
      </h1>
    </div>

    <div ng-if="jobs.$resolved && !jobs.length">
      <h1><i class="glyphicon glyphicon-ban-circle"></i> No Jobs Available</h1>
    </div>
  </div>

  <!--Job settings-->
  <div class="well" ng-if="settings.visible">
    <div class="row">
      <div class="col-sm-6">
        <h4><i class="glyphicon glyphicon-th"></i> Visible Columns</h4>

        <div class="checkbox" ng-repeat="(key, value) in cols" ng-if="key">
          <label>
            <input type="checkbox" ng-model="cols[key]" autocomplete="off"/> {{key | pretty}}
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <h4><i class="glyphicon glyphicon-cog"></i> List Settings</h4>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.autoRefresh" autocomplete="off"/> Auto Refresh List
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.myJobsOnly" autocomplete="off"/> Only Show My Jobs
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inpMaxRecs" class="col-sm-2 control-label">Max Records</label>

            <div class="col-sm-4">
              <input type="text" ng-model="settings.maxRecords" class="form-control" id="inpMaxRecs"
                     placeholder="Max Records" autocomplete="off"/>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row text-center">
      <button class="btn btn-primary" ng-click="settings.visible=false;query()">
        <i class="glyphicon glyphicon-remove"></i> Close Settings
      </button>
    </div>
  </div>

  <!--Job details-->
  <div ng-if="detailedJob">
    <h2
      ng-class="{'text-success': detailedJob.pass, 'text-warning': detailedJob.running, 'text-danger': detailedJob.fail, 'text-default': detailedJob.canceled}">
      {{detailedJob.description}}
    </h2>

    <a href="" ng-click="details()">
      <i class="glyphicon glyphicon-arrow-left"></i> Back to List
    </a>

    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd>
          <span class="label"
                ng-class="{'label-success': detailedJob.pass, 'label-warning': detailedJob.running, 'label-danger': detailedJob.fail, 'label-default': detailedJob.canceled}">
              {{status[detailedJob.status]}}
            <small ng-if="detailedJob.pass && detailedJob.hasOwnProperty('recordCount')">
              &nbsp;-{{detailedJob.recordCount | number:0}} records
            </small>
          </span>
      </dd>
      <dt>Progress</dt>
      <dd>
          <span class="label"
                ng-class="{'label-success': detailedJob.pass, 'label-warning': detailedJob.running, 'label-danger': detailedJob.fail, 'label-default': detailedJob.canceled}">
              {{detailedJob.progress}}% Complete
          </span>
      </dd>
      <dt>Start Date</dt>
      <dd>
        {{detailedJob.startDate | date : 'MM/dd/yyyy @ h:mma'}}
      </dd>
      <dt>End Date</dt>
      <dd>
        {{detailedJob.endDate | date : 'MM/dd/yyyy @ h:mma' }}
      </dd>
      <dt>Elapsed Time</dt>
      <dd>
        {{detailedJob.startDate | elapsed:detailedJob.endDate}}
      </dd>
      <dt>Owner</dt>
      <dd>
        {{detailedJob.ownerUserName || 'Unknown' }}
      </dd>
      <dt>Expires</dt>
      <dd>
        {{detailedJob.$expires || daysLeft(detailedJob)}}
      </dd>
      <dt>Comments</dt>
      <dd>
        {{detailedJob.comment}}
      </dd>
    </dl>

    <div ng-if="detailedJob.message" class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
      <strong>Last Message: </strong>
      {{detailedJob.message}}
    </div>

    <div ng-if="detailedJob.errorMessage" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
      <strong>Error Message: </strong>
      {{detailedJob.errorMessage}}
    </div>

  </div>

  <!--Job list-->
  <table ng-if="!detailedJob && jobs.$resolved && jobs.length"
         class="table table-condensed table-striped table-hover job-list">
    <thead>
    <tr>
      <th ng-if="cols.job"></th>
      <th ng-if="cols.job">Job</th>
      <th ng-if="cols.status">Status</th>
      <th ng-if="cols.appId">App ID</th>
      <th ng-if="cols.owner">Owner</th>
      <th ng-if="cols.startDate">Started</th>
      <th ng-if="cols.endDate">Ended</th>
      <th ng-if="cols.elapsedTime">Time</th>
      <th ng-if="cols.expires">Expires</th>
      <th ng-if="cols.action">Action</th>
      <th ng-if="cols.download">Download</th>
      <th ng-if="cols.comments">Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr class="repeated-item clicky" ng-repeat="job in jobs | filter:search.filter">
      <td ng-if="cols.job" ng-click="details(job)">
                <span ng-if="job.pass" class="badge alert-success">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </span>
                <span ng-if="job.fail" class="badge alert-danger">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                </span>
                <span ng-if="job.running"
                      class="badge alert-warning">
                    <i class="glyphicon glyphicon-transfer"></i>
                </span>
                <span ng-if="job.canceled" class="badge">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </span>
      </td>
      <td ng-if="cols.job" ng-click="details(job)">
        <strong>{{job.description}}</strong>
      </td>
      <td ng-if="cols.status" ng-switch="job.running && !!job.progress" ng-click="details(job)">
        <div ng-switch-when="true">
          <progressbar class="progress-striped active" max="100" value="job.progress" type="warning">
            <i>{{job.progress}}% Complete</i>
          </progressbar>
        </div>
          <span ng-switch-default class="label"
                ng-class="{'label-success': job.pass, 'label-warning': job.running, 'label-danger': job.fail, 'label-default': job.canceled}">
              {{status[job.status]}}<small ng-if="job.pass && job.hasOwnProperty('recordCount')">&nbsp;-
            {{job.recordCount | number:0}} records
          </small>
          </span>
      </td>
      <td ng-if="cols.appId" ng-click="details(job)">
        {{job.appId}}
      </td>
      <td ng-if="cols.owner" ng-click="details(job)">
        {{job.ownerUserName}}
      </td>
      <td ng-if="cols.startDate" ng-click="details(job)">
        {{job.startDate | date}}
      </td>
      <td ng-if="cols.endDate" ng-click="details(job)">
        {{job.endDate | date}}
      </td>
      <td ng-if="cols.elapsedTime" ng-click="details(job)">
        {{job.startDate | elapsed:job.endDate}}
      </td>
      <td ng-if="cols.expires" ng-click="details(job)">
        {{job.$expires || daysLeft(job)}}
      </td>
      <td ng-if="cols.action">
        <a href="" ng-hide="job.running" ng-click="remove(job)">
          <i class="glyphicon glyphicon-cloud-remove"></i> Delete
        </a>
        <a href="" ng-show="job.running" ng-click="cancel(job)">Cancel</a>
      </td>
      <td ng-if="cols.download">
        <div class="btn-group btn-group-sm" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="!job.pass">
            <i class="glyphicon glyphicon-cloud-download"></i> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="type in types">
              <a href="" ng-click="download(job, type.value)">
                {{type.label}}
              </a>
            </li>
          </ul>
        </div>
      </td>
      <td ng-if="cols.comments" ng-click="details(job)">
        {{job.comment}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
