.job-list-navbar.navbar-form>.form-group:not(:last-child){margin-right:6px}.job-search-input{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;max-width:95px}.job-search-input:focus{max-width:135px}.table.job-list>tbody>tr>td .progress{margin-bottom:0}